 *{
    overflow-x: hidden;
  }

  * {
    margin: 0;
    padding: 0;
  }
  

p{
    color: white;
    text-align: center;
    font-family:'Times New Roman';
}
header{
    position:fixed;
    background-color: black;
    color: red;
    width: 100vw;
    }

    
    nav{
        font-weight: bold;
        color: white;
        font-size: small;
        display: flex;
        justify-content: space-evenly;
    }

.image{
    display: grid;
    place-items:center;
    height: 95vh;
    width: 100vw;
    font-style: oblique;
    /* background-image: url(black.jpeg); */
    /* background-size: cover; */
    background-color: black;
}
@media (min-width : 600px) {
    .image{
        width:100vw;
        height: 100vh;
        font-style: oblique;
        font-size: xx-large;
    }
    .education{
        font-size: xx-large;
    }
    table{
        height: 300px;
    }
    }
.education{
    color:red;
    font-size:larger;
    height: 85vh;
    width: 100vw;
}

.family{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: rgb(214, 239, 248);
    font-weight: bolder;
}
table{
    color:white;
    background-color:black;
    display: grid;
    place-items: center;
    border: 4px solid red;
    margin-bottom: 40px;
}
div{
    color: red;
    font-size: large;
}
.friends{
    color: red;
}
span{
    height: 40px;
    background-color: red;
    color: white;
    font-size: x-large;
    border: 4px solid black;
    display:inline-block;
    margin-left: 75px;
}
footer{
    background-color: white;
    color: black;
    display: grid;
    justify-content: center;
    font-weight: bolder;
    border: 2px solid red;
}
.message{
    font-size: x-large;
}

.contact{
    background-color: black;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: blue;
}

figure{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.welcome{
    animation: animate 3s ease-in 0s infinite;
}

@keyframes animate{
    0%{
        transform: translate(75vw);
        color: red;
    }
    50%{
        color: red;
        transform: skew(-45deg);
    }
    100%{
        color: red;
        transform: skew(0deg);
    }
}

